@{
    ViewData["Title"] = "Forgot password confirmation";
}

<ul class="page">
    <li class="title">@ViewData["Title"]</li>
    <li class="content">Please check your email to reset your password.</li>
</ul>
