@{
    ViewData["Title"] = "Locked out";
}

<ul class="page">
    <li class="title">@ViewData["Title"]</li>
    <li class="content">This account has been locked out, please try again later.</li>
</ul>
