@import '../../../../funcs.scss';

.profile-page {
	.profile-form {
		overflow: auto;
		padding: 10px 20px;
	}

	.row {
		display: flex;
		flex-direction: row;
	}
}

@include phone {
    @import './profile.phone.scss';
}