<div class="page tic-tac-toe-page">
    <div class="search-status" ng-if="!$ctrl.ticTacToe.current">
        <span>Searching...</span>
    </div>
    <div class="winner" ng-if="$ctrl.ticTacToe.current && $ctrl.ticTacToe.current.winner">
        <span>Winner: {{ $ctrl.ticTacToe.current.winner }}</span>
    </div>
    <div ng-if="$ctrl.ticTacToe.current && !$ctrl.ticTacToe.current.winner" class="game flexible">
        <ul class="container">
            <li class="users">
                <ul class="container">
                    <li class="user">{{ $ctrl.ticTacToe.current.firstPlayer }}</li>
                    <li class="user">{{ $ctrl.ticTacToe.current.secondPlayer }}</li>
                </ul>
            </li>
            <li ng-class="{ 'invisible': !$ctrl.ticTacToe.isMyTurn }" class="turn-indicator">
                <span>Your turn</span>
            </li>
            <li class="board">
                <div class="container">
                    <ul class="row">
                        <li ng-click="$ctrl.select(0)" class="cell" ng-class="$ctrl.cellClass(0)"></li>
                        <li ng-click="$ctrl.select(1)" class="cell" ng-class="$ctrl.cellClass(1)"></li>
                        <li ng-click="$ctrl.select(2)" class="cell" ng-class="$ctrl.cellClass(2)"></li>
                    </ul>
                    <ul class="row">
                        <li ng-click="$ctrl.select(3)" class="cell" ng-class="$ctrl.cellClass(3)"></li>
                        <li ng-click="$ctrl.select(4)" class="cell" ng-class="$ctrl.cellClass(4)"></li>
                        <li ng-click="$ctrl.select(5)" class="cell" ng-class="$ctrl.cellClass(5)"></li>
                    </ul>
                    <ul class="row">
                        <li ng-click="$ctrl.select(6)" class="cell" ng-class="$ctrl.cellClass(6)"></li>
                        <li ng-click="$ctrl.select(7)" class="cell" ng-class="$ctrl.cellClass(7)"></li>
                        <li ng-click="$ctrl.select(8)" class="cell" ng-class="$ctrl.cellClass(8)"></li>
                    </ul>
                </div>
            </li>
            <li ng-if="$ctrl.question" class="quest">
                <ul class="container">
                    <li class="question">
                        <ul class="container">
                            <li class="word">{{ $ctrl.question.word }}</li>
                            <li class="description" ng-if="!$ctrl.question.isAnswered">Выберите правильный ответ</li>
                            <li class="answer" ng-if="$ctrl.question.isAnswered">{{ $ctrl.question.answer }}</li>
                        </ul>
                    </li>
                    <li class="answers" ng-if="!$ctrl.question.isAnswered">
                        <ul class="container">
                            <li ng-repeat="option in $ctrl.question.options" ng-click="$ctrl.submit($index)">{{ option }}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>