html, body {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: darkcyan;
    font-size: 15px;
}

::placeholder {
    color: lightgrey;
}

.flexible {
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form-group input {
    color: black;
    border: none;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: lavenderblush;
}

.form-group input:focus {
    outline: none;
}

.input-wrapper {
    position: relative;
    padding-left: 37px;
}

.input-wrapper input {
    width: 100%;
}

.input-wrapper:before {
    content: '';
    display: inline-block;
    height: 37px;
    width: 37px;
    background-color: dimgray;
    position: absolute;
    left: 0px;
}

.form-group label {
    display: inline-block;
    font-size: 15px;
    min-width: 100px;
    color: black;
    font-weight: normal;
    font-size: 15px;
    font-family: Arial;
}

.btn {
    background-color: darkcyan;
    border: solid 2px darkcyan;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
}

.btn-full {
    width: 100%;
}

.app-container {
    height: 100%;
    width: 100%;
    position:relative;
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: grey 0px 2px 5px 0px;
}

@media only screen and (max-width: 550px) {
    .panel {
        width: 90%;
    }
}

.panel > .header {
    height: 50px;
    background-color: darkcyan;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.panel > .body {
    padding: 30px 50px 40px 50px;
    box-sizing: border-box;
}

.text-danger {
    color: crimson;
    font-size: 15px;
}

.text-danger.validation-summary-errors {
    background-color: darksalmon;
    padding: 15px;
    box-sizing: border-box;
    color: darkred;
}

.input-wrapper + .text-danger {
    padding-top: 5px;
}

.page {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.page .title {
    font-size: 20px;
}

.page .title {
    padding-bottm: 20px;
}



/* CROSS ICON */
.cross {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    opacity: 0.3;
}

.cross:hover {
    opacity: 0.6;
}

.cross:before, .cross:after {
    position: absolute;
    left: 6px;
    content: ' ';
    height: 15px;
    width: 3px;
    background-color: #333;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}
