/************************************************
    COMMON
 ************************************************/
html, body {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: darkcyan;
    font-size: 15px;
}

::placeholder {
    color: lightgrey;
}

.flexible {
    flex: 1;
}

.app-container {
    height: 100%;
    width: 100%;
    position:relative;
}


/************************************************
    ICONS
 ************************************************/
$font-icon: 'icomoon';

@font-face {
    font-family: $font-icon;
    src: url('resources/fonts/icomoon.woff') format('woff'), url('resources/fonts/icomoon.ttf') format('truetype'), url('resources/fonts/icomoon.svg#icomoon') format('svg');
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

$ico_map: ( bars: "\e900", compass: "\e949", undo: "\e967", bin: "\e9ac" );

@function get-ico-symbol($ico_name) {
    @return map-get($ico_map, $ico_name);
}

@mixin ico($ico_name) {
    &:before {
        font-family: $font-icon;
        content: get-ico-symbol($ico_name);
    }
}

.bars-ico {
    font-size: 23px;
    color: white;
    @include ico('bars');
    cursor: pointer;
}

.compass-ico {
    font-size: 15px;
    color: white;
    @include ico('compass');
    cursor: pointer;
}

.undo-ico {
    font-size: 23px;
    color: darkcyan;
    @include ico('undo');
    cursor: pointer;
}

.bin-ico {
    font-size: 23px;
    color: lightcoral;
    @include ico('bin');
    cursor: pointer;
}

/************************************************
    FORMS
 ************************************************/
.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form-group input {
    color: black;
    border: none;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: lavenderblush;
}

.form-group input:focus {
    outline: none;
}

.input-wrapper {
    position: relative;
    padding-left: 37px;
}

.input-wrapper input {
    width: 100%;
}

.input-wrapper:before {
    content: '';
    display: inline-block;
    height: 37px;
    width: 37px;
    background-color: dimgray;
    position: absolute;
    left: 0px;
}

//.form-group label {
//    display: inline-block;
//    font-size: 15px;
//    min-width: 100px;
//    color: black;
//    font-weight: normal;
//    font-size: 15px;
//    font-family: Arial;
//}

.input-group {
    display: flex;
    flex-direction: row;
}

.input-group-addon {
    .btn {
        border: 0;
        border-radius: 0;
    }
}

.text-danger {
    color: crimson;
    font-size: 15px;
}

.text-danger.validation-summary-errors {
    background-color: darksalmon;
    padding: 15px;
    box-sizing: border-box;
    color: darkred;
}

.input-wrapper + .text-danger {
    padding-top: 5px;
}

file-select {
    display: flex;
    flex-direction: column;
}

file-select img {
    max-height: 100px;
    max-width: 100px;
}
file-select .controls {
    margin-top: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: inline-block;
    cursor: pointer;
}

/************************************************
    BUTTONS
 ************************************************/
.btn {
    background-color: darkcyan;
    border: solid 2px darkcyan;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
    cursor: pointer;
}

.btn:hover {
    background-color: cadetblue;
}

.btn-full {
    width: 100%;
}


/************************************************
    PANELS
 ************************************************/
.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: grey 0px 2px 5px 0px;
}

@media only screen and (max-width: 550px) {
    .panel {
        width: 90%;
    }
}

.panel > .header {
    height: 50px;
    background-color: darkcyan;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.panel > .body {
    padding: 30px 50px 40px 50px;
    box-sizing: border-box;
}


/************************************************
    PAGES
 ************************************************/
.page {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.page .title {
    font-size: 20px;
}

.page .title {
    padding-bottm: 20px;
}


/************************************************
    LOADER
 ************************************************/
.loader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loader .ball {
    display: inline-block;
    height: 20px;
    width: 10px;
    background-color: greenyellow;
    box-sizing: border-box;
    margin: 0 10px;
    animation-name: stratch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.loader .ball-1 {
    animation-delay: .0s
}

.loader .ball-2 {
    animation-delay: .12s
}

.loader .ball-3 {
    animation-delay: .24s
}

.loader .ball-4 {
    animation-delay: .36s
}

.loader .ball-5 {
    animation-delay: .48s
}

@keyframes stratch {
    0% {
        height: 20px;
    }

    25% {
        height: 60px;
    }

    50% {
        height: 20px;
    }
}

.spinner {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.spinner > .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}


/************************************************
    OPTIONS
 ************************************************/
.options {
	position: relative;

	.options-toggle {
		padding-right: 30px;
	
		&::after {
			content: '';
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #fff;
			top: 50%;
			position: absolute;
			margin-left: 10px;
			margin-top: -1px;
		}
	}

	ul.options-menu {
		position: absolute;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
		right: 0;
		top: 50px;
		background-color: white;
		min-width: 250px;
		z-index: 10000;
		display: none;

		& > li > a {
			display: block;
			padding: 10px 15px;
			color: #222;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				background-color: #DDD;
			}
		}

		& > li:last-child {
			padding-bottom: 5px;
		}

		& > li:first-child {
			padding-top: 5px;
		}

		& > li.heading-item {
			color: #222;
			padding: 10px 15px;
			border-bottom: 1px solid #CCC;
			margin-bottom: 5px;
		}

		&.open {
			display: block;
		}
	}
}
  