<div class="page home-page">
    <div class="aside">
        <div class="title">Channels</div>
        <ul class="aside-list">
            <li ng-click="$ctrl.selectChannel(channel.id)" class="channel" ng-repeat="channel in $ctrl.chat.channels" title="{{ channel.id }}">#{{ channel.id }}<span ng-show="channel.unreadNumber > 0">&nbsp({{channel.unreadNumber}})</span></li>
        </ul>
        <div class="title">Users</div>
        <ul class="aside-list">
            <li ng-click="$ctrl.selectUser(user.id)" class="user" ng-repeat="user in $ctrl.chat.users" title="{{ user.id }}">{{ user.id }}<span ng-show="user.unreadNumber > 0">&nbsp({{user.unreadNumber}})</span></li>
        </ul>
    </div>
    <div class="chat flexible" ng-if="$ctrl.chat.id">
        <div class="to">#{{ $ctrl.chat.id }}</div>
        <ul class="message-list flexible">
            <li ng-repeat="message in $ctrl.chat.messages">
                {{ message.from }}: {{ message.text }}
            </li>
        </ul>
        <form class="message-form" name="$ctrl.form" ng-submit="$ctrl.sendMessage()" novalidate autocomplete="off">
            <div class="form-group">
                <div class="input-wrapper">
                    <input name="message"
                           type="text"
                           ng-model="$ctrl.message"
                           required
                           class="form-control"
                           placeholder="Message" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-full" ng-disabled="!$ctrl.canSendMessage()">Send</button>
            </div>
        </form>
    </div>
</div>

