.loader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loader .ball {
    display: inline-block;
    height: 20px;
    width: 10px;
    background-color: greenyellow;
    box-sizing: border-box;
    margin: 0 10px;
    animation-name: stratch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.loader .ball-1 {
    animation-delay: .0s
}

.loader .ball-2 {
    animation-delay: .12s
}

.loader .ball-3 {
    animation-delay: .24s
}

.loader .ball-4 {
    animation-delay: .36s
}

.loader .ball-5 {
    animation-delay: .48s
}

@keyframes stratch {
    0% {
        height: 20px;
    }

    25% {
        height: 60px;
    }

    50% {
        height: 20px;
    }
}

.message-form {
    padding: 20px;
}

.message-form .btn {
    max-width: 400px;
}

.message-list {
    overflow-y: auto;
}

.message-list {
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-list > .container {
    width: 100%;
    height: 100%;
}

.message-list .message {
    word-break: break-all;
    margin: 5px 0;
}

.message-list .message > .container {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
}

.message-list .message.mine {
    text-align: right;
}

.message-list .message .message-from {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

.message-list .message.mine .message-from-wrapper {
    display: none;
}

.message-list .message.private .message-from-wrapper {
    display: none;
}

.message-list .message .message-text {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    background-color: darkgrey;
    padding: 10px;
}

.message-list .message.mine .message-text {
    background-color: darkcyan;
}

.message-list .message.mine .message-text::after {
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid darkcyan;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.message-list .message:not(.mine) .message-text::after {
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid darkgrey;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.page.home-page {
    display: flex;
    flex-direction: row;
}

.aside {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: beige;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 0;
}

.aside .title {
    font-size: 15px;
    color: gray;
    padding: 5px 10px;
    text-transform: uppercase;
}

.aside-list + .title {
    padding-top: 30px;
}

.aside-list li {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.aside-list li:hover {
    background-color: blanchedalmond;
}

.aside-list li + li {
    border-top: 2px solid white;
}

.chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat .to {
    box-sizing: border-box;
    padding: 10px 20px;
    color: dimgray;
    border-bottom: solid 1px darkgray
}

.user.unread,
.channel.unread {
    font-weight: bold;
}
