.home-page {
	width: 100%;
	height: 100%;

	.error-message-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.error-message {
		color: crimson;
		font-weight: bold;
		padding: 10px;
		text-align: center;
	}
}