<ul class="page dictionary-page">
    <li class="search-dictionary-item-form">
        <form novalidate autocomplete="off">
            <div class="form-group">
                <div class="input-wrapper input-group">
                    <input name="term"
                           type="text"
                           ng-model="$ctrl.term"
                           class="form-control"
                           placeholder="Search" />
                    <div class="input-group-addon">
                        <button type="button" class="btn btn-full" ng-click="$ctrl.addItem()"><i class="plus-ico"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </li>
    <li ng-if="$ctrl.dictionary.list.length" class="grid flexible">
        <ul class="container">
            <li class="row" ng-repeat="item in $ctrl.dictionary.list | filter: { 'term': $ctrl.term }" ui-sref="dictionaryItemView({ id: item.id })">
                <div class="column flexible">
                    <dl class="word">
                        <dt class="term">{{ item.term }}</dt>
                        <dd class="translation">{{ item.translation }}</dd>
                    </dl>
                </div>
                <div class="column">
                    <div class="action">
                        <a ng-click="$ctrl.remove(item.id)"><i class="bin-ico"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li class="empty-grid-message" ng-if="!$ctrl.dictionary.list.length">Dictionary is empty</li>
</ul>