@import '../../../../funcs.scss';

header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: darkcyan;

    .container {
        display: flex;
        align-items: center;
    }

    .container > li {
        height: 100%;
    }

    .container > li a {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 20px 10px;
        box-sizing: border-box;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 15px;
        font-family: Arial;
    }

    .container > li a:hover {
        background-color: cadetblue;
    }

    .container > li a:active {
        background-color: darkslategrey;
    }
}

main {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 55px - 75px);
    box-sizing: border-box;

    & > .container {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

footer {
    height: 75px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: darkslategray;
    color: white;

    & > .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        padding: 5px;
    }

    .copy-right {
        text-align: center;
    }
}

@include desktop {
    header .container.navigation-toggler {
        display: none;
    }
}

@include phone {
    @import './layout.phone.scss';
}