@import '../../../../funcs.scss';

header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: darkcyan;

    .container {
        display: flex;
        align-items: center;
    }

    .container > li {
        height: 100%;
    }

    .container > li > a {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 20px 10px;
        box-sizing: border-box;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 15px;
        font-family: Arial;
    }

    .container.navigation > li > a:hover {
        background-color: cadetblue;
    }

    .container.navigation > li > a:active {
        background-color: darkslategrey;
	}
	
	.avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: white;
		display: inline-block;
		position: relative;
		top: -13px;
	}
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: .4;
    }
}

aside {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visibility 0s .35s;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 99;
        position: absolute;
        opacity: 0;
        transition: opacity .35s linear;
    }

    > .container {
        position: absolute;
        height: 100%;
        background-color: white;
        z-index: 100;
        width: 200px;
        left: -200px;
        transition: left .35s ease-out;
    }

    &.open {
        visibility: visible;
        transition: unset;

        .container {
            left: 0;
        }

        .overlay {
            opacity: .4;
            transition: opacity .35s linear;
        }
    }

    .avatar {
        margin-top: 5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        position: relative;
    }

    .user-name {
        position: relative;
        bottom: 0;
        margin-top: 15px;
        font-size: 13px;
        color: white;
    }

    .heading {
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        background-color: darkcyan;
    }

    .navigation > .container > li.menu-devider {
        border-top: 1px solid lightgray;
        margin: 5px 0px;
    }

    .navigation > .container > li > a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 12px 15px;
        color: black;
        box-sizing: border-box;
        font-size: 14px
    }
}

main {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 55px - 75px);
    box-sizing: border-box;

    & > .container {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

footer {
    height: 75px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: darkslategray;
    color: white;

    & > .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        padding: 5px;
    }

    .copy-right {
        text-align: center;
    }
}

.add-global-btn {
    background-color: darkcyan;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    padding: 5px 10px 3px 10px;
}

@include desktop {
    header .container.navigation-toggler {
        display: none;
    }

    .add-global-btn {
        display: none;
    }
}

@include phone {
    @import './layout.phone.scss';
}