<header>
    <ul class="container navigation desktop">
        <li><a ui-sref="home">H</a></li>
        <li><a ui-sref="wordTranslation">C</a></li>
        <li><a ui-sref="userDictionary">D</a></li>
        <li><a ui-sref="ticTacToe">T</a></li>
        <li><a ui-sref="chain">P</a></li>
    </ul>
    <div class="container navigation mobile">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="container">
        <li><a href="javascript:void(0);" ng-click="$ctrl.logout()">{{ $ctrl.me.name }}</a></li>
    </ul>
</header>
<main>
    <div class="container">
        <ui-view></ui-view>
        <div class="spinner" ng-show="$ctrl.spinner.isActive">
            <div class="container">
                <ul class="loader">
                    <li class="ball ball-1"></li>
                    <li class="ball ball-2"></li>
                    <li class="ball ball-3"></li>
                    <li class="ball ball-4"></li>
                    <li class="ball ball-5"></li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer>
    <ul class="container">
        <li class="flexible"></li>
        <li><p class="copy-right">&copy; 2018 - Shop</p></li>
    </ul>
</footer>