header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: darkcyan;
}

header .container {
    display: flex;
    align-items: center;
}

header .container > li {
    height: 100%;
}

header .container > li a {
    display: inline-block;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
}

header .container > li a:hover {
    background-color: cadetblue;
}

header .container > li a:active {
    background-color: darkslategrey;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 55px - 75px);
    box-sizing: border-box;
}

main > .container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

footer {
    height: 75px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: darkslategray;
    color: white;
}

footer > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
}

footer .copy-right {
    text-align: center;
}

.spinner {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.spinner > .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}


