header {
    padding: 0px;

    .navigation {
        position: absolute;
        flex-direction: column;
        z-index: 1000;
        background-color: cadetblue;
        top: 55px;
        left: 0;
        width: 100%;
    }

    .navigation > li {
        width: 100%;

        & > a:hover {
            background-color: slategrey;
        }
    }

    .navigation.collapsed {
        display: none;
    }

    .user-menu {
        display: none;
    }

    .navigation-toggler { 
        padding: 0 20px; 
        box-sizing: border-box;
    }
}

footer {
    display: none;
}


main {
    height: calc(100vh - 55px);
}