<header>
    <ul class="container">
        <li><a ui-sref="home">H</a></li>
        <li><a ui-sref="wordTranslation">C</a></li>
        <li><a ui-sref="userDictionary">D</a></li>
    </ul>
    <ul class="container">
        <li><a href="javascript:void(0);" ng-click="$ctrl.logout()">L</a></li>
    </ul>
</header>
<main>
    <div class="container">
        <ui-view></ui-view>
    </div>
</main>
<footer>
    <ul class="container">
        <li class="flexible"></li>
        <li><p class="copy-right">&copy; 2018 - Shop</p></li>
    </ul>
</footer>