<header>
    <div class="container navigation-toggler" ng-click="$ctrl.collapsed = !$ctrl.collapsed">
        <i class="bars-ico"></i>
    </div>
    <ul class="container navigation" ng-class="{'collapsed': $ctrl.collapsed}" ng-click="$ctrl.collapsed = !$ctrl.collapsed">
        <li><a ui-sref="channels">Channels</a></li>
        <li><a ui-sref="wordTranslation">Cards</a></li>
        <li><a ui-sref="userDictionary">Dictionary</a></li>
        <li><a ui-sref="ticTacToe">Tic-Tac-Toe</a></li>
    </ul>
    <ul class="container">
        <li><a href="javascript:void(0);" ng-click="$ctrl.logout()">{{ $ctrl.me.name }}</a></li>
    </ul>
</header>
<main>
    <div class="container">
        <ui-view></ui-view>
        <div class="spinner" ng-show="$ctrl.spinner.isActive">
            <div class="container">
                <ul class="loader">
                    <li class="ball ball-1"></li>
                    <li class="ball ball-2"></li>
                    <li class="ball ball-3"></li>
                    <li class="ball ball-4"></li>
                    <li class="ball ball-5"></li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer>
    <ul class="container">
        <li class="flexible"></li>
        <li><p class="copy-right">&copy; 2018 - Shop</p></li>
    </ul>
</footer>