login {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.panel.login .body {
    padding-bottom: 15px;
}

.login .form-group.forgot-passord {
    text-align: right;
}

.login .form-group.sign-up {
    text-align: center;
    padding-top: 40px;
}
