<ul class="page cards-page">
    <li class="content">
        <ul ng-if="!$ctrl.training.finish" class="quest">
            <li class="question">
                <ul class="container">
                    <li class="hint" ng-click="$ctrl.hint()">?</li>
                    <li class="image"></li>
                    <li class="word">{{ $ctrl.training.current.word }}</li>
                    <li class="description" ng-if="!$ctrl.training.current.isAnswered">Выберите правильный ответ</li>
                    <li class="answer" ng-if="$ctrl.training.current.isAnswered" ng-class="{ 'wrong': !$ctrl.training.current.isCorrect }">{{ $ctrl.training.current.answer }}</li>
                </ul>
            </li>
            <li class="answers">
                <ul class="container">
                    <li ng-repeat="option in $ctrl.training.current.options" ng-click="$ctrl.submit(option)">{{ option }}</li>
                </ul>
            </li>
        </ul>
        <div ng-if="$ctrl.training.finish">Results: {{ $ctrl.training.correct.length }} / {{ $ctrl.training.list.length }}</div>
    </li>
</ul>