.tetris {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
        display: flex;
        flex-direction: row;
    }

    .cell {
        width: 20px;
        height: 20px;
        background-color: bisque;
        margin: 2px;

        &.busy {
            background-color: black;
        }
    }
}