@{
    ViewData["Title"] = "Cards";
}
<ul class="page cards-page">
    <li class="content">
        <ul class="quest previous">
            <li class="question">
                <ul class="container">
                    <li class="answer">?</li>
                    <li class="image"></li>
                    <li class="word">Sigh</li>
                    <li class="description">Выберите правильный ответ</li>
                </ul>
            </li>
            <li class="answers">
                <ul class="container">
                    <li>магазин</li>
                    <li>приносить</li>
                    <li>покупать</li>
                    <li>вздох</li>
                </ul>
            </li>
        </ul>
        <ul class="quest next">
            <li class="question">
                <ul class="container">
                    <li class="answer">?</li>
                    <li class="image"></li>
                    <li class="word">Fed up</li>
                    <li class="description">Выберите правильный ответ</li>
                </ul>
            </li>
            <li class="answers">
                <ul class="container">
                    <li>магазин</li>
                    <li>приносить</li>
                    <li>покупать</li>
                    <li>надоело</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
