@{
    ViewData["Title"] = "Dictionary";
}
<ul class="page dictionary-page">
    <li class="content">
        <ul class="grid">
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
            <li>
                <dl class="word">
                    <dt>to sink</dt>
                    <dd>тонуть</dd>
                </dl>
            </li>
        </ul>
    </li>
</ul>
